<p>component-one works!</p>
<button (click)="toComponentTwo()">To ComponentTwo</button>
<button (click)="toToDoWork()">To ToDoWork</button>
<button (click)="toReactiveForms()">To Reactive Forms</button>
<button (click)="toTemplateDrivenForms()">To template-driven Forms</button>
<button (click)="toReactiveFormsValidate()">To Reactive Forms Validate</button>
<button (click)="toTemplateDrivenFormsValidate()">To template-driven Forms Validate</button>
<button (click)="toDynamicForm()">To Dynamic Form</button>